.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");
  background-color: #999;

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  z-index: -1;
}
.parallaxPlayer {
  /* The image used */
  background-color: #333;

  /* Set a specific height */
  min-height: 100%;

  position: relative;

  z-index: 0;
}

.playerBack
{
  color: blue;
  text-shadow: 0px 0px 32px #0000FF, 0px 0px 32px #0000FF, 0px 0px 32px #0000FF;
}

.boxFirst
{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);

  max-width: 100%;
}
