/* Position the navbar container inside the image */
.container {
  position: fixed;
  margin: 1.6em;
  margin-top: -2.9em;
  left: 50%;
  transform: translate(-50%);
  width: 32.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;

  transition: 0.5s ease;

  z-index: 10;
}

.nav
{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.container:hover {
  margin-top: 0;
}

.containerPlayer {
  position: fixed;
  margin: 20px;
  margin-bottom: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;

  transition: 0.5s ease;

  z-index: 10;
}

.playerTitle
{
  text-align: center;
  color: white;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #3339;
}

.topnavUP {
  overflow: hidden;
  background-color: #3339;

  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}
.topnavDOWN {
  overflow: hidden;
  background-color: #3339;

  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

/* Navbar links */
.topnav a, .text-blockPlayer-Controle a, .topnav input{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  font-size: 17px;
}

.topnav input
{
  background-color: #3330;
  border: 0;
  border-bottom: solid;
  width: 20em;
  height: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.button
{
  width: 6em;
}
